* {
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
}

/* Game dropdown */

.game{
  cursor: default;
}

.drop{
  background-color: grey;
  color: black;
  padding: 10px;
  font-size: 10px;
  border: none;
  position: relative;
  display: inline-block;
}

.drop:hover {
  background-color: blue;
  color: white;
}

.game-content{
  cursor: auto;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.game-content div:hover {
  background-color: blue;
  color: white;
}

.show{
  display: block;
}



.game-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  min-width: 310px;
  min-height: 400px;
}

.score-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  height: 60px;
  width: 100%;
  margin: 5px;
}

.flag-count, .time-score{
  display: flex;
  height: 40px;
  width: 60px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.emoji, .smile{
  height: 40px;
}

.grid-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* width: 256px;
  height: 256px; */
}

.cell{
  width: 24px;
  height: 24px;
  border: 1px solid black;
  font-size: 10px;
}

.mine-clicked, .flag.mine-clicked{
  background-color: black;
}

.flag{
  background-color: red;
  /* pointer-events: none; */
}

.opened{
  background-color: blueviolet;
  color: white;
}

#sec-unit, #sec-ten, #sec-hundred{
  width: 16.5px;
  height: 31.5px;
}

.gap{
  width: 3px;
  height: 31.5px;
  background-color: black;
}

.zerosec{
  background-image: url("../assets/t0.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.onesec{
  background-image: url("../assets/t1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.twosec{
  background-image: url("../assets/t2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.threesec{
  background-image: url("../assets/t3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.foursec{
  background-image: url("../assets/t4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fivesec{
  background-image: url("../assets/t5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sixsec{
  background-image: url("../assets/t6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sevensec{
  background-image: url("../assets/t7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.eightsec{
  background-image: url("../assets/t8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ninesec{
  background-image: url("../assets/t9.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}