body{
  display: flex;
  justify-content: center;
}

/* Game dropdown */

.game{
  cursor: default;
}

.drop{
  background-color: grey;
  color: black;
  padding: 10px;
  font-size: 10px;
  border: none;
  position: relative;
  display: inline-block;
}

.drop:hover {
  background-color: blue;
  color: white;
}

.game-content{
  cursor: auto;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.game-content div:hover {
  background-color: blue;
  color: white;
}

.show{
  display: block;
}



.game-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  min-width: 310px;
  min-height: 400px;
}

.score-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  height: 60px;
  width: 100%;
  margin: 5px;
}

.flag-count, .time-score{
  display: flex;
  height: 40px;
  width: 60px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.emoji, .smile{
  height: 40px;
}

.grid-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 256px;
  height: 256px; */
}

.cell{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  font-size: 10px;
}

.mine-clicked, .flag.mine-clicked{
  background-color: black;
}

.flag{
  background-color: red;
  /* pointer-events: none; */
}

.opened{
  background-color: blueviolet;
  color: white;
}