* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
  display: grid;
  place-items: center;
  /* align-items: center; */
  height: 100vh;
  background-image: url("../assets/wallpaper.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
}

.full-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  /* min-width */
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.clickable{
  min-width: 268.19px;
  border-left: 4.5px solid rgba(7,55,205,255);
  border-bottom: 4.5px solid rgba(7,55,205,255);
  border-right: 4.5px solid rgba(7,55,205,255);
  background-color: rgba(235,233,218,255);
}

/* Game and help dropdown */


.menu-bar{
  display: flex;
  height: 28px;
  background-color: rgba(235,233,218,255);
  display: flex;
  align-items: center;
  width: 100%;
}


.drop{
  display: flex;
  align-items: center;
  cursor: default;
  height: 28px;
  color: black;
  padding-left: 8px;
  padding-right : 8px;
  font-size: 15px;
  border: none;
  /* position: relative; */
  /* display: inline-block; */
}

.drop:hover {
  background-color: blue;
  color: white;
}

.game-content, .help-content{
  padding: 8px;
  font-size: 15px;
  cursor: default;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.game1{
  padding: 10px auto;
}
.game1.reset{
  margin-bottom: 7px;
}
.line{
  border-bottom: 1px solid black;
}
#beginner{
  margin-top: 7px;
}
.help-content{
  position: absolute;
}

.game-content div:hover {
  background-color: blue;
  color: white;
}

.help-content div:hover {
  background-color: blue;
  color: white;
}

p{
  margin: 7.5px auto 7.5px 0px;
  font-size: 15px;
}

.instructions{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-form{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show{
  display: block;
}

.instructions-main{
  background-color: rgba(235,233,218,255);
  border-left: 4.5px solid rgba(7,55,205,255);
  border-bottom: 4.5px solid rgba(7,55,205,255);
  border-right: 4.5px solid rgba(7,55,205,255);
  background-color: rgba(235,233,218,255);
  width: 500px;
  height: 350px;
}

.winner-main{
  background-color: rgba(235,233,218,255);
  border-left: 4.5px solid rgba(7,55,205,255);
  border-bottom: 4.5px solid rgba(7,55,205,255);
  border-right: 4.5px solid rgba(7,55,205,255);
  background-color: rgba(235,233,218,255);
  width: 500px;
  height: 300px;
}

.form-main{
  background-color: rgba(235,233,218,255);
  border-left: 4.5px solid rgba(7,55,205,255);
  border-bottom: 4.5px solid rgba(7,55,205,255);
  border-right: 4.5px solid rgba(7,55,205,255);
  background-color: rgba(235,233,218,255);
  width: 500px;
  height: 300px;
}



.instruct-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}  

.form-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.winner-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.form-field{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

input{
  width: 60px;
  margin-top: 5px;
}

.button-wrap{
  display: flex;
  justify-content: center;
}

.close-button{
  background-color: rgba(235,233,218,255);
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  box-shadow: 2.5px 2.5px rgba(179,176,161,255);
  border-top: 2.5px solid rgba(244,243,231,255);
  border-left: 2.5px solid rgba(244,243,231,255);
}

.close-button-win{
  background-color: rgba(235,233,218,255);
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  box-shadow: 2.5px 2.5px rgba(179,176,161,255);
  border-top: 2.5px solid rgba(244,243,231,255);
  border-left: 2.5px solid rgba(244,243,231,255);
}

.close-button-win:active{
  box-shadow: -2px -2px rgba(179,176,161,255)
}

.apply{
  background-color: rgba(235,233,218,255);
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* box-shadow: 2.5px 2.5px rgba(179,176,161,255); */
  border-top: 2.5px solid rgba(244,243,231,255);
  border-left: 2.5px solid rgba(244,243,231,255);
}

.close-button:active{
  box-shadow: -2px -2px rgba(179,176,161,255)
}

.apply:active{
  box-shadow: -2px -2px rgba(179,176,161,255)
}

.close-button, .cancel, .apply, .close-button-win{
  cursor: default;
}

/*** window styling ***/

 .window{
  display: flex;
  height: 42px;
  width: 100%;
 }
 .win-left{
  height: 42px;
  width: 153.5px;
  background-image: url("../assets/window_left.png");
  background-size: 100% 100%;
 }
 .win-middle{
  height: 42px;
  width: calc(100% - 259.2px);
  background-image: url("../assets/window_centre.png");
  background-size: 100% 100%;
 }
 .win-right{
  height: 42px;
  width: 105.7px;
  background-image: url("../assets/window_icons.png");
  background-size: 100% 100%;
 }


/*** end window styling ***/

/***  game border styling ***/

.layer-one{
  display: flex;
  justify-content: center;
  height: 16.5px;
  width: 100%;
  display: flex;
}

.top-left{
  height: 16.5px;
  width: 18px;
  background-image: url("../assets/corner_top_left.png");
  background-size: 100% 100%;
}
.top-border{
  height: 16.5px;
  background-image: url("../assets/border_top.png");
  background-size: 100% 100%;
}
.top-right{
  height: 16.5px;
  width: 18px;
  background-image: url("../assets/corner_top_right.png");
  background-size: 100% 100%;
}

.layer-two{
  display: flex;
  justify-content: center;
  width: 100%;
}

.second-layer-left, .second-layer-right{
  width: 18px; 
  height: auto;
  background-image: url("../assets/border_side.png");
  background-size: 100% 100%;
}

.layer-three{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16.5px;
}

.middle-left{
  width: 18px;
  background-image: url("../assets/middle_left.png");
  background-size: 100% 100%;
}
.middle-border{
  height: 16.5px;
  background-image: url("../assets/border_bottom.png");
  background-size: 100% 100%;
}
.middle-right{
  width: 18px;
  background-image: url("../assets/middle_right.png");
  background-size: 100% 100%;
}

.layer-four{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.fourth-layer-left, .fourth-layer-right{
  width: 18px; 
  background-image: url("../assets/border_side.png");
  background-size: 100% 100%;
}

.layer-five{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16.5px;
}

.bottom-left{
  height: 16.5px;
  width: 18px;
  background-image: url("../assets/corner_bottom_left.png");
  background-size: 100% 100%;
}
.bottom-border{
  height: 16.5px;
  background-image: url("../assets/border_bottom.png");
  background-size: 100% 100%;
}
.bottom-right{
  height: 16.5px;
  width: 18px;
  background-image: url("../assets/corner_bottom_right.png");
  background-size: 100% 100%;
}
/*** end border styling ***/


.game-container{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  /* border: 1px solid black; */
  /* padding: 5px; */
  width: 100%;
  height: 100%;
}

.score-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: 48px;
  width: 100%;
  /* margin: 5px; */
  background-color: silver;
}

.flag-count, .time-score{
  display: flex;
  height: 37.5px;
  width: 61.5px;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-image: url("../assets/num_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cell{
  width: 24px;
  height: 24px;
  background-image: url("../assets/cell.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid black; */
  /* font-size: 10px; */
}

.cell:active{
  background-image: url("../assets/open.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mine-clicked, .flag.mine-clicked{
  background-image: url("../assets/mine.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-mine{
  background-image: url("../assets/main_mine.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flag{
  background-image: url("../assets/flag.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flag:active{
  background-image: url("../assets/flag.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.opened{
  background-image: url("../assets/open.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sec-unit, #sec-ten, #sec-hundred, #flag-unit,  #flag-ten, #flag-hundred {
  width: 16.5px;
  height: 31.5px;
}

.gap{
  width: 3px;
  height: 31.5px;
  background-color: black;
}

.zeronum{
  background-image: url("../assets/t0.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.onenum{
  background-image: url("../assets/t1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.twonum{
  background-image: url("../assets/t2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.threenum{
  background-image: url("../assets/t3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fournum{
  background-image: url("../assets/t4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fivenum{
  background-image: url("../assets/t5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sixnum{
  background-image: url("../assets/t6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sevennum{
  background-image: url("../assets/t7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.eightnum{
  background-image: url("../assets/t8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ninenum{
  background-image: url("../assets/t9.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.minus{
  background-image: url("../assets/t-.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blank{
  background-image: url("../assets/blank.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.oneopen{
  background-image: url("../assets/o1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.twoopen{
  background-image: url("../assets/o2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.threeopen{
  background-image: url("../assets/o3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fouropen{
  background-image: url("../assets/o4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fiveopen{
  background-image: url("../assets/o5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sixopen{
  background-image: url("../assets/o6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sevenopen{
  background-image: url("../assets/o7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.eightopen{
  background-image: url("../assets/o8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.oneopen:active{
  background-image: url("../assets/o1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.twoopen:active{
  background-image: url("../assets/o2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.threeopen:active{
  background-image: url("../assets/o3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fouropen:active{
  background-image: url("../assets/o4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fiveopen:active{
  background-image: url("../assets/o5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sixopen:active{
  background-image: url("../assets/o6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sevenopen:active{
  background-image: url("../assets/o7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.eightopen:active{
  background-image: url("../assets/o8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.emoji{
  height: 39px;
  width: 39px;
}

#smiley{
  background-image: url("../assets/smiley.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#smiley:active{
  background-image: url("../assets/smiley_click.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#smiley-click{
  background-image: url("../assets/smiley_click.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#shock{
  background-image: url("../assets/shock.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#lose{
  background-image: url("../assets/dead.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#lose:active{
  background-image: url("../assets/dead_click.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#win{
  background-image: url("../assets/cool.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#win:active {
  background-image: url("../assets/cool_click.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}